* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #212121;
}

.clock {
    width: 80%;
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.clock::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
}

#hour, #min, #sec {
    position: absolute;
    border-radius: 8px;
    transform-origin: bottom;
}

#hour {
    height: 31%;
    width: 5px;
    top: 20%;
    left: 49.5%;
    z-index: 1;
    background-color: #61afff;
}

#min {
    height: 38%;
    width: 3px;
    top: 13%;
    left: 49.5%;
    z-index: 2;
    background-color: #61afff;
}

#sec {
    height: 39%;
    width: 1px;
    top: 12%;
    z-index: 3;
    left: 50%;
    background-color: #ee791a;
}